#
# {{ ansible_managed }}
#
{% for entry in systemd_journald_config %}

[{{ entry.section }}]
{% for key, value in entry.options.items() %}
{% if value is iterable and value is not string %}
{% for v in value %}
{{ key }}={{ v }}
{% endfor %}
{% else %}
{{ key }}={{ value }}
{% endif %}
{% endfor %}
{% endfor %}
