[defaults]
inventory = ./inventory/inventory.yml
roles_path = ./roles
fact_caching = jsonfile
fact_caching_connection = ${HOME}/.cache/ansible/facts
gathering = smart
remote_tmp = /tmp
vault_password_file = vault/pass.sh

[ssh_connection]
ssh_args = -o ServerAliveInterval=15 -o ServerAliveCountMax=4
