#
# {{ ansible_managed }}
#

ZED_NOTIFY_VERBOSE={{ zfs_monitoring_zed_notify_verbose | int }}
ZED_NOTIFY_INTERVAL_SECS={{ zfs_monitoring_zed_notify_interval_secs }}
ZED_SCRUB_AFTER_RESILVER={{ zfs_monitoring_zed_scrub_after_resilver | int }}

ZED_EMAIL_ADDR="{{ zfs_monitoring_zed_email_addr }}"

{% if zfs_monitoring_zed_extra %}
{% for key, value in zfs_monitoring_zed_extra.items() %}
{{ key }}="{{ value }}"
{% endfor %}
{% endif %}
