#jinja2: lstrip_blocks: True, trim_blocks: True
#
# {{ ansible_managed }}
#

{% for name, settings in zram_devices|dictsort -%}
    [{{ name }}]
    {% for key, value in settings|dictsort -%}
        {{ key }} = {{ value }}
    {% endfor -%}
{% endfor -%}
