#
# {{ ansible_managed }}
#

{% if apt_unattended_upgrades_mail_to | length > 0 %}
[cmdline]
frontend=pager
email_address={{ apt_unattended_upgrades_mail_to }}
confirm=true
save_seen=/var/lib/apt/listchanges
which=both

[apt]
frontend=mail
email_address={{ apt_unattended_upgrades_mail_to }}
confirm=false
save_seen=/var/lib/apt/listchanges
which=both
{% else %}
[apt]
frontend=pager
which=news
confirm=false
headers=false
reverse=false
save_seen=/var/lib/apt/listchanges
{% endif %}
