#
# {{ ansible_managed }}
#

{% if smartmontools_uptime_kuma_push_url is defined %}
SMARTD_UPTIME_KUMA_PUSH_URL="{{ smartmontools_uptime_kuma_push_url }}"
{% else %}
# SMARTD_UPTIME_KUMA_PUSH_URL=""
{% endif %}
