#!/usr/bin/env bash

#
# {{ ansible_managed }}
#

config_file="/etc/smartmontools/uptime-kuma.conf"

# shellcheck disable=SC1090
[ -f "${config_file}" ] && . "${config_file}"

[ -n "${SMARTD_UPTIME_KUMA_PUSH_URL}" ] || exit 0
[ -n "${SMARTD_FAILTYPE}" ] || exit 1

case "${SMARTD_FAILTYPE}" in
    Health | Usage | SelfTest | CurrentPendingSector | OfflineUncorrectableSector | FailedHealthCheck | FailedOpenDevice | \
    ErrorCount | Temperature | FailedReadSmartData | FailedReadSmartErrorLog | FailedReadSmartSelfTestLog)
        push_status="down"
        ;;
    *)
        push_status="up"
        ;;
esac

if curl \
    --silent \
    --output /dev/null \
    --show-error \
    --fail \
    --max-time 5 \
    --retry 3 \
    --retry-delay 3 \
    --url-query "status=${push_status}" \
    --url-query "msg=${SMARTD_FAILTYPE}" \
    "${SMARTD_UPTIME_KUMA_PUSH_URL}"; then
    logger -t smartd-uptime-kuma "Push sent for ${SMARTD_FAILTYPE:-unknown} on ${SMARTD_DEVICE:-unknown}"
else
    logger -t smartd-uptime-kuma "Push failed for ${SMARTD_FAILTYPE:-unknown} on ${SMARTD_DEVICE:-unknown}"
    exit 1
fi
