#
# {{ ansible_managed }}
#

{% set ns = namespace(host={}) %}
{% for key in hostvars[inventory_hostname] | select('match', '^borgmatic_config_') | sort %}
{%   set ns.host = ns.host | combine({key[17:]: hostvars[inventory_hostname][key]}) %}
{% endfor %}
{% set _cfg = __borgmatic_global_settings | combine(ns.host, recursive=true, list_merge='append') %}
{{ _cfg | to_nice_yaml(indent=2) | trim }}
